@model TCM_AgenciaViagem.Models.Funcionario

@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Fúncionário</h2>

@using (Html.BeginForm("Index","Funcionario", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dados do Funcionário</legend>

        <div class="editor-label">            @Html.LabelFor(f => f.NomeFuncioario)        </div>
        <div class="editor-field">
            @Html.EditorFor(f => f.NomeFuncioario)
            @Html.ValidationMessageFor(f => f.NomeFuncioario)
        </div>
        <br />

        <div class="editor-label">            @Html.LabelFor(f => f.Login)        </div>
        <div class="editor-field">
            @Html.EditorFor(f => f.Login)
            @Html.ValidationMessageFor(f => f.Login)
        </div>
        <br />

        <div class="editor-label">            @Html.LabelFor(f => f.SenhaFuncionario)        </div>
        <div class="editor-field">
            @Html.EditorFor(f => f.SenhaFuncionario)
            @Html.ValidationMessageFor(f => f.SenhaFuncionario)
        </div>
        <br />

        <div>
            <input type="submit" value="Cadastrar" />
        </div>

    </fieldset>
}

